
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

footer p {
  color: rgba(24, 23, 23, 0.5);
  text-align: center;
  margin-top: 100px;

}
